[submodule "public/dump/BitE-JS"]
	path = public/dump/BitE-JS
	url = https://github.com/Rob-ot/BitE-JS.git
[submodule "public/dump/Koch"]
	path = public/dump/Koch
	url = https://github.com/Rob-ot/Koch.git
[submodule "public/parallax"]
	path = public/parallax
	url = https://github.com/Rob-ot/jQuery-jsrallax.git
[submodule "public/dump/moire-numbers"]
	path = public/dump/moire-numbers
	url = https://github.com/Rob-ot/moire-numbers.git
