doctype
html
  head
    meta(charset='utf-8')
    title= 'Rob'
    link(rel='stylesheet', href='/css/main.css')
    meta(name='viewport', content='initial-scale=1')
  body
    header
      h1.title
        a(href='/') Rob Middleton
      h2
        a.socialLink(href='/timeline') Portfolio
        = ' '
        a.socialLink(href='https://twitter.com/Rob__ot') Twitter
        = ' '
        a.socialLink(href='https://github.com/Rob-ot') GitHub
        = ' '
        a.socialLink(href='mailto:middlerob@gmail.com') E-Mail

    block content

    footer
      span Copyright &copy; 2013 Rob Middleton
      = ' '
      a(href='https://github.com/Rob-ot/middlerob.com') Fork me on Github
      = ' '
      a(href='http://www.theleagueofmoveabletype.com/ostrich-sans') Font
      = ' '
      a(href='http://www.colourlovers.com/palette/444487/Curiosity_Killed') Colors
      = ' '
      = 'Built using '
      a(href='http://nodejs.org/') Node.js
      = ' and '
      a(href='http://jsantell.github.com/poet/') Poet
